<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526721329803-4kj37dj83g4qr5a6798c9kg3ijrvpjfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526721329803-4kj37dj83g4qr5a6798c9kg3ijrvpjfd</string>
	<key>API_KEY</key>
	<string>AIzaSyAG_7mWFLiIv-hG0RfOmoGjq5ygifAPbkI</string>
	<key>GCM_SENDER_ID</key>
	<string>526721329803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asitaslan.InsatagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-f138c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-f138c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526721329803:ios:6c763c5bb77ef143dd028e</string>
</dict>
</plist>